
<!doctype html>
<html>
<head>
<title>{?$article_title?}最新章节列表_{?$article_title?}最新章节目录_{?$jieqi_sitename?}</title>
<meta http-equiv="Content-Type" content="text/html; charset={?$jieqi_charset?}" />
<meta name="keywords" content="{?$article_title?},{?$article_title?}最新章节" />
<meta name="description" content="{?$article_title?}最新章节由网友提供，《{?$article_title?}》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的{?$sortname?}，20cm小说网免费提供{?$article_title?}最新清爽干净的文字章节在线阅读。" />
<link rel="stylesheet" type="text/css" href="/web8/css/biquge.css"/>
<script type="text/javascript" src="/web8/js/jquery.min.js"></script>
<script type="text/javascript" src="/web8/js/m.js"></script>
<script type="text/javascript" src="/web8/js/bqg.js"></script>
<script language="javascript" type="text/javascript">var bookid = "{?$articleid?}"; var booktitle = "{?$article_title?}";</script>
</head>
<body>
	<div id="wrapper">
		<script type="text/javascript">login();</script>
		<div class="header">
			<div class="header_logo">
				<a href="{?$jieqi_url?}">{?$jieqi_sitename?}</a>
			</div>
			<script type="text/javascript">list_panel();</script>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/modules/article/bookcase.php">我的书架</a></li>
				<li><a href="/fl1/">玄幻小说</a></li>
				<li><a href="/fl2/">修真小说</a></li>
				<li><a href="/fl3/">都市小说</a></li>
				<li><a href="/fl4/">历史小说</a></li>
				<li><a href="/fl6/">网游小说</a></li>
				<li><a href="/fl7/">科幻小说</a></li>
				<li><a href="/paihangbang/">排行榜单</a></li>
				<li><a href="/xiaoshuodaquan/">全部小说</a></li>
			</ul>
		</div>
		<div class="dahengfu"><script type="text/javascript" src="/web8/js/ad3.js"></script></div>
		<div class="box_con">
			<div class="con_top">
				<div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="http://bdimg.share.baidu.com/static/images/type-button-7.jpg" /><a class="shareCount"></a></div>
				<a href="/">{?$jieqi_sitename?}</a> &gt; <a href="/fl{?$sortid?}/">{?$sortname?}</a> &gt; {?$article_title?}最新章节列表
			</div>
			<div id="maininfo">
				<div id="info">
					<h1>{?$article_title?}</h1>
					<p>作&nbsp;&nbsp;&nbsp;&nbsp;者：{?$author?}</p>
					<p>动&nbsp;&nbsp;&nbsp;&nbsp;作：<a href="javascript:;" onclick="showpop('/modules/article/addbookcase.php?bid={?$articleid?}&ajax_request=1');">加入书架</a>,  <a href="javascript:;" onclick="showpop('/modules/article/uservote.php?id={?$articleid?}&ajax_request=1');">投推荐票</a>,  <a href="#footer">直达底部</a></p>
					<p>最后更新：<script src="/modules/article/getdatetime.php?id={?$article_id?}"></script></p>
					<p>下&nbsp;&nbsp;&nbsp;&nbsp;载：<font color="gray"><a href="/modules/article/txtarticle.php?id={?$articleid?}" target="_blank">点击下载</a></font></p>
				</div>
				<div id="intro">
					<p>{?$intro?}</p>
					<p>各位书友要是觉得《{?$article_title?}》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！</p>
				</div>
			</div>
			<div id="sidebar">
				<div id="fmimg"><img alt="{?$article_title?}" src="{?$jieqi_url?}/files/article/image{?$articlesubdir?}/{?$articleid?}/{?$articleid?}s.jpg" width="120" height="150" /><script src="/modules/article/zt.php?id={?$article_id?}"></script></div>
			</div> 
			<div id="listtj">&nbsp;推荐阅读：<script language="javascript" type="text/javascript" src="{?$jieqi_url?}/blockshow.php?bid=sidelist&module=article&filename=block_articlelist&classname=BlockArticleArticlelist&vars=allvisit%2C12%2C{?$sortid?}%2C0%2C0%2C0&template=web8_tuijian.html&contenttype=4&custom=0&publish=3&hasvars=1"></script></div>
		</div>
		
		<div class="box_con">
			<div id="list">
				<dl>

					<dt><b>《{?$article_title?}》章节列表</b></dt>
						
					{?section name=i loop=$indexrows?}{?if $indexrows[i].ctype == "volume"?}<dt>{?if $indexrows[i].vname == ""?} {?else?}《{?$article_title?}》{?$indexrows[i].vname?}{?/if?}</dt>{?else?}

<dd>{?if $indexrows[i].cname1 == ""?}{?else?}<a href="/read_{?$articleid?}/{?$indexrows[i].cid1?}.html" class="f-green">{?$indexrows[i].cname1?}</a></a>{?/if?}</dd>
<dd>{?if $indexrows[i].cname2 == ""?}{?else?}<a href="/read_{?$articleid?}/{?$indexrows[i].cid2?}.html" class="f-green">{?$indexrows[i].cname2?}</a></a>{?/if?}</dd>
<dd>{?if $indexrows[i].cname3 == ""?}{?else?}<a href="/read_{?$articleid?}/{?$indexrows[i].cid3?}.html" class="f-green">{?$indexrows[i].cname3?}</a></a>{?/if?}</dd>
<dd>{?if $indexrows[i].cname4 == ""?}{?else?}<a href="/read_{?$articleid?}/{?$indexrows[i].cid4?}.html" class="f-green">{?$indexrows[i].cname4?}</a></a>{?/if?}</dd>
{?/if?}
{?/section?}
				</dl>
			</div>
		</div>
		<div id="footer" name="footer">
			<div class="footer_link">&nbsp;新书推荐：<script language="javascript" type="text/javascript" src="{?$jieqi_url?}/blockshow.php?bid=sidelist&module=article&filename=block_articlelist&classname=BlockArticleArticlelist&vars=postdate%2C12%2C{?$sortid?}%2C0%2C0%2C0&template=web8_tuijian.html&contenttype=4&custom=0&publish=3&hasvars=1"></script></div>
			<div class="footer_cont">
				<p>《{?$article_title?}》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的{?$sortname?}，20cm小说网转载收集{?$article_title?}最新章节。</p>
				<script type="text/javascript">footer();</script>
			</div>
		</div>
	</div>
</body>

</html>